{% extends 'base.html'%}

{% block title %}
Contact Page
{% endblock %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<style>
    body {
        position: relative;
    }
</style>
{% block content %}
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
<div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
    <h1>INSTAGRAM</h1>
    <h5>Ushbu Sayt Yaratuvchisinising <a style="color: white" href="https://www.instagram.com/javohir__abduhakimov">Instagram</a>
        sahifasi</h5>
    <h5>Bizning <a style="color: white" href="https://www.instagram.com/najottalim">Instagram </a>sahifa</h5>
</div>

<div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
    <h1>TELEGRAM</h1>
    <h5>Ushbu Sayt Yaratuvchisinising <a style="color: black" href="https://t.me/javohir_abduhakimoff">Telegram</a>
        sahifasi</h5>
    <h5>Bizning <a style="color: black" href="https://t.me/najottalim">Telegram </a>sahifa</h5>
</div>

<div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
    <h1>TELEFON RAQAMLAR</h1>
    <h5>Ushbu Sayt Yaratuvchisinising <a style="color: darkgrey" href="+998977777777">Telefon</a> raqami</h5>
    <h5>Bizning <a style="color: darkgrey" href="+998712001123">Telefon </a>raqamimiz</h5>
    <h5>Xadra filial <a style="color: darkgrey" href="+998998260011">Telefon </a>raqami</h5>
</div>
{% endblock %}